<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649388106591-haqiufglere1qe9bi7a50v93l3ia1p8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649388106591-haqiufglere1qe9bi7a50v93l3ia1p8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>649388106591-he6vilctcugeolsbuhldq3jf2n7sl8eo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArqZdeiD2YOanr2svPTMtQaDlnFB1OzCE</string>
	<key>GCM_SENDER_ID</key>
	<string>649388106591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annapurna.hostel</string>
	<key>PROJECT_ID</key>
	<string>annapurna-hostel</string>
	<key>STORAGE_BUCKET</key>
	<string>annapurna-hostel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649388106591:ios:f4fe66d6f5a593cb220cea</string>
</dict>
</plist>